@import url('../../.cache/wal/colors-waybar.css');

* {
    font-family: "JetBrains Nerd Font";
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: @color3;
}

#workspaces button.empty {
    color: @color3;
}

#workspaces button.active {
    background-color: @color3;
    color: @background;
    border-radius: 1px;
}

#wireplumber,
#bat,
#tray,
#usage,
#clock,
#cava,
#net {
    color: @color3;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#memory,
#language,
#network {
    margin-right: 0.8em;
}