@import url('../../.cache/wal/colors-waybar.css');

* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: @background;
    border: 2px solid @color3;
    border-radius: 4px;
}

tooltip {
    background-color: @background;
    border: 2px solid @color3;  
    font-size: 2px;
    color: @color3;
}

tooltip label {
    margin: 8px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#wireplumber,
#language {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border-radius: 4px;
}

#workspaces {
    margin: 6px 0px 8px 8px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 6px;
    color: @color3;
    background-color: @background;
    border: 2px solid @color3;
    border-radius: 4px;
    margin-right: 5px;
}

#workspaces button.active {
    color: @background;
    background-color: @color3;
    min-width: 15px
}

#workspaces button.urgent {
    background-color: @color3; 
    color: @background; 
    border: 2px solid @color3;
}

#clock {
    background-color: @color3;
    border: 2px solid @background;  
    color: @background;
}

#network,
#wireplumber,
#battery,
#tray {
    background-color: @background;
    border: 2px solid @color3;  
    color: @color3;  }

#network {
    min-width: 20px;
}

#battery,
#wireplumber {
    min-width: 60px;
}

#custom-launcher {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
    transition: none;
    color: @color3;
}

#custom-control {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
    color: @color3;
}